# xcode noise
*/build/*

Collect Similar Items/Collect Similar Items.xcodeproj/*.pbxuser
Collect Similar Items/Collect Similar Items.xcodeproj/*.mode1v3
Collect Similar Items/Collect Similar Items.xcodeproj/*.pbxuser

Collect Similar Items/Collect Similar Items 10.5.xcodeproj/*.pbxuser
Collect Similar Items/Collect Similar Items 10.5.xcodeproj/*.mode1v3
Collect Similar Items/Collect Similar Items 10.5.xcodeproj/*.pbxuser

Organise By Date/Organise By Date.xcodeproj/*.pbxuser
Organise By Date/Organise By Date.xcodeproj/*.mode1v3
Organise By Date/Organise By Date.xcodeproj/*.pbxuser

Smart-Organise Folders/Smart-Organise Folders.xcodeproj/*.pbxuser
Smart-Organise Folders/Smart-Organise Folders.xcodeproj/*.mode1v3
Smart-Organise Folders/Smart-Organise Folders.xcodeproj/*.pbxuser
Collect Similar Items 10.5/Collect Similar Items.xcodeproj/mannie.mode1v3
Collect Similar Items 10.5/Collect Similar Items.xcodeproj/mannie.pbxuser
Collect Similar Items 10.5/Collect Similar Items.xcodeproj/mannie.perspectivev3
Collect Similar Items 10.5/Collect Similar Items.xcodeproj/mannietags.pbxuser
Collect Similar Items 10.5/Collect Similar Items.xcodeproj/mannietags.perspectivev3