# xcode noise
*/build/*

Collect Similar Items/Collect Similar Items.xcodeproj/*.pbxuser
Collect Similar Items/Collect Similar Items.xcodeproj/*.mode1v3
Collect Similar Items/Collect Similar Items.xcodeproj/*.pbxuser
Collect Similar Items/Collect Similar Items.xcodeproj/*.perspectivev3

Collect Similar Items/Collect Similar Items 10.5.xcodeproj/*.pbxuser
Collect Similar Items/Collect Similar Items 10.5.xcodeproj/*.mode1v3
Collect Similar Items/Collect Similar Items 10.5.xcodeproj/*.pbxuser
Collect Similar Items/Collect Similar Items 10.5.xcodeproj/*.perspectivev3

Organise By Date/Organise By Date.xcodeproj/*.pbxuser
Organise By Date/Organise By Date.xcodeproj/*.mode1v3
Organise By Date/Organise By Date.xcodeproj/*.pbxuser
Organise By Date/Organise By Date.xcodeproj/*.perspectivev3

Smart-Organise Folders/Smart-Organise Folders.xcodeproj/*.pbxuser
Smart-Organise Folders/Smart-Organise Folders.xcodeproj/*.mode1v3
Smart-Organise Folders/Smart-Organise Folders.xcodeproj/*.pbxuser
Smart-Organise Folders/Smart-Organise Folders.xcodeproj/*.perspectivev3

Collect Similar Items 10.5/Collect Similar Items.xcodeproj/*.mode1v3
Collect Similar Items 10.5/Collect Similar Items.xcodeproj/*.pbxuser
Collect Similar Items 10.5/Collect Similar Items.xcodeproj/*.perspectivev3

Smart-Organise Updater/Smart-Organise Updater.xcodeproj/*.mode1v3
Smart-Organise Updater/Smart-Organise Updater.xcodeproj/*.pbxuser
Smart-Organise Updater/Smart-Organise Updater.xcodeproj/*.perspectivev3
Smart-Organise Updater/dsa_pub.pem
Smart-Organise Updater/Smart_Organise_Updater-Info.plist
