<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Smart-Organise</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryFilesAndFolders</string>
	<key>AMDescription</key>
	<dict>
		<key>AMDRelatedActions</key>
		<array>
			<string>Collect Similar Items</string>
			<string>Smart-Organise Folders</string>
		</array>
		<key>AMDResult</key>
		<string>The folders that have been created</string>
		<key>AMDInput</key>
		<string>Files</string>
		<key>AMDSummary</key>
		<string>This action collects files into one folder based on the current date.</string>
		<key>AMDWebsite</key>
		<string>www.dimensionsunmarked.com</string>
	</dict>
	<key>AMIconName</key>
	<string>icon</string>
	<key>AMName</key>
	<string>Organise By Date</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2, Copyright © 2011 Mannie Tagarira.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.dimensionsunmarked.Automator.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Mannie Tagarira.</string>
	<key>NSPrincipalClass</key>
	<string>Organise_By_Date</string>
</dict>
</plist>
